@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');

/* Globais Settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rowdies", sans-serif;
}

body {
    background-image: url('../img/logo/bg-login.jpg');
    /* background-size: cover; */
    backdrop-filter: blur(1.4vh);
    background-position: center;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    overflow: hidden;
}

main {
    width: 60%;
    height: 70%;
}

header {
    max-width: 100%;
    max-height:30%;

    display: flex;
    justify-content: center;
}

header img {
    width: 40%;
}


/* Estilos do container de login */
.container-login {
    margin: auto;
    min-width: 60%;
    min-height: 80%;
    max-width: 1024px;

    background: linear-gradient(90deg, rgba(241, 73, 4, 0.92) 3.01%, #F99809 100%);
    opacity: 0.7;
    
    border-radius: 20px;
    border: 3px solid black;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-login-inputs {
    margin: auto;

    width: inherit;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}

.container-login-label {
    display: flex;
    justify-content: center;
    border-radius: 15px;
    padding: 0 10px;

    border: 2px solid black;
    background-color:rgb(232, 240, 254);
    width: 100%;
}

.container-login-label img:first-child {
    margin-right: 5px;
}

.container-login-label input {
    border: none;
    border-left: 1px solid black;
    padding: 0px 5px;
    outline: none;
    background-color:inherit;
    width: inherit;
    height: 4.5vh;
}

.container-login-label span {
    font-size: 1.3em;
}

@media screen and (max-width: 768px ) {
    
    header img {
        width: 65%;
    }

    main {
        width: 90%;
        height: 60%;
    }

    .container-login {
        height: 100%;
    }
}